.image {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  > .addcart {
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
  }
  &:hover > .cartn {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
  }
}
